/****************** FONTS ****************************/
@font-face {
  font-family: "museosans-300";
  src: url("../fonts/museosansrounded-300-webfont.svg") format("svg");
  src: url("../fonts/museosansrounded-300-webfont.ttf") format("ttf");
  src: url("../fonts/museosansrounded-300-webfont.woff") format("woff");
}

@font-face {
  font-family: "museosans-500";
  src: url("../fonts/museosans-500.otf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

/****************** VARIABLES ************************/
/*
1- main color : #61c0bd
2- white color: #ffffff
3- dark grey color: #565659
4- light grey color: #5a6175
*/
/****************** CUSTOM RESET *********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/****************** CUSTOM SETTINGS ******************/
html {
  background: white;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #5a6175;
  overflow-x: hidden;
}

p, ul, ol {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

p a, h5 a {
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 28px;
  font-family: "museosans-300", Georgia, serif;
}

h2 {
  font-size: 26px;
  font-family: "museosans-300", Georgia, serif;
}

h3 {
  font-size: 21px;
  font-family: "museosans-300", Georgia, serif;
}

h4 {
  font-size: 18px;
  font-family: "museosans-300", Georgia, serif;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

.btn-custom {
  color: white !important;
  background-color: #61c0bd;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "museosans-500", Arial, sans-serif;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.btn-custom:hover {
  -webkit-box-shadow: 1px 3px 12px 0px #b3b3b3;
          box-shadow: 1px 3px 12px 0px #b3b3b3;
  color: white !important;
}

/****************** NAVBAR ******************/
#navbar {
  padding: 15px 25px;
  border: none;
  background: white !important;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

#navbar .navbar-toggler {
  background: #61c0bd;
  border: none;
}

#navbar .nav-link {
  color: black;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  font-family: "museosans-500", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#navbar .nav-link.active, #navbar .nav-link:hover {
  background: #61c0bd;
  color: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/****************** HEADER ******************/
#header {
  overflow-x: hidden;
}

#header #header-container {
  margin-top: 70px;
  padding: 50px;
  background-image: url("/assets/img/header.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#header #header-container .text-container h1, #header #header-container .text-container h4 {
  color: white;
  line-height: 1.5em;
}

#header #header-container .text-container h1 {
  font-size: 3em;
  font-family: "museosans-300", Georgia, serif;
  text-transform: uppercase;
}

#header #header-container .text-container h4 {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

#header #footer-container {
  background-color: #f2f2f2;
  padding: 30px;
  border-bottom: 1px solid #e6e6e6;
}

#header #footer-container .event-details {
  font-family: "museosans-300", Georgia, serif;
  font-size: 22px;
  color: #565659;
}

#header #footer-container .event-details a {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 22px;
}

#header #footer-container p {
  color: #5a6175;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/****************** GET INVOLVED ******************/
#get-involved {
  padding: 50px 0;
}

#get-involved .container h3 {
  font-family: "museosans-500", Arial, sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
}

#get-involved .container .row .col-md-4 {
  margin-bottom: 70px;
}

#get-involved .container .row .col-md-4 img {
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#get-involved .container .row .col-md-4 h4 {
  font-family: "museosans-500", Arial, sans-serif;
  font-size: 1.5em;
}

#get-involved .container .row .col-md-4 p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

#get-involved .container .row .col-md-4 a {
  margin-top: 10px;
}

/****************** MISSON ******************/
#mission {
  background-color: #f2f2f2;
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

#mission .container h3 {
  font-size: 2.5em;
}

#mission .container h3, #mission .container h4 {
  font-family: "museosans-500", Arial, sans-serif;
}

#mission .container h5 {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

#mission .container .row .col-md-4 .card {
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}

#mission .container .row .col-md-4 .card .icon-container {
  border-radius: 50%;
  margin: 0 auto;
  border: 8px solid white;
  background: #61c0bd;
  margin-top: -45px;
}

#mission .container .row .col-md-4 .card .icon-container img {
  padding: 16px;
  width: 75px;
  height: 70px;
}

#mission .container .row .col-md-4 .card .card-body .card-title {
  color: #61c0bd;
  margin-bottom: 15px;
  font-family: "museosans-300", Georgia, serif;
  font-size: 1.5em;
  text-transform: capitalize;
}

#mission .container .row .col-md-4 .card .card-body .card-text {
  font-family: "museosans-300", Georgia, serif;
  font-size: 1.1em;
}

/****************** MEMBERS ******************/
#members {
  padding: 50px 50px 0 50px;
}

#members .container h3 {
  font-family: "museosans-500", Arial, sans-serif;
  margin-bottom: 50px;
}

#members .container #members-slider {
  overflow-y: hidden;
}

#members .container #members-slider img {
  height: 50px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#members .container #members-slider img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#members .container .owl-carousel .owl-dots.disabled {
  display: inline-block;
  margin-top: 50px;
}

#members .container .owl-theme .owl-dots .owl-dot.active span,
#members .container .owl-theme .owl-dots .owl-dot:hover span {
  background: #61c0bd !important;
}

#members .container .owl-theme .owl-dots .owl-dot span {
  background: #565659 !important;
}

/****************** EVENT ******************/
#event {
  padding: 50px;
  font-family: "museosans-500", Arial, sans-serif;
}

#event .container .row .col-md-4 .card a img:hover {
  opacity: 0.7;
  -webkit-transition: all 0.7 ease-out;
  transition: all 0.7 ease-out;
}

/****************** BLOG ******************/
#blog {
  padding: 0px 0px 50px 0px;
}

#blog h3 {
  font-family: "museosans-500", Arial, sans-serif;
  color: #5a6175;
  margin: 50px 0px;
}

#blog #blog-slider .item a h4 {
  font-family: "OpenSans-SemiBold", Arial, sans-serif;
  color: #61c0bd;
  border-bottom: 1px solid #f2f2f2;
}

#blog #blog-slider .item a .main-p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  color: #565659;
  line-height: 1.5;
  border-bottom: 1px solid #f2f2f2;
}

#blog #blog-slider .item a p {
  color: #61c0bd;
}

#blog .owl-nav {
  display: inline-block;
  position: relative;
  left: 48%;
  margin-top: 20px;
}

#blog .owl-prev {
  font-size: 30px;
  color: #61c0bd;
  margin-right: 25px;
}

#blog .owl-next {
  font-size: 30px;
  color: #61c0bd;
}

/****************** CONTACT ******************/
#contact {
  padding: 50px 0;
}

#contact label {
  margin-bottom: 10px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

/****************** CONTACT ******************/
footer {
  padding: 20px;
  background: #61c0bd;
}

footer .container-fluid .social {
  margin-bottom: 10px;
}

footer .container-fluid .social a {
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

footer .container-fluid .copyright p {
  color: black;
  font-size: 20px;
}

footer .container-fluid .copyright p a {
  color: white;
  text-decoration: none;
}

/****************** MEDIA QUERY ******************/
@media (min-width: 300px) {
  #navbar {
    -webkit-box-shadow: 0px 1px 7px #5a6175;
            box-shadow: 0px 1px 7px #5a6175;
  }
  #navbar.navbar-shrink {
    padding: 5px 10px;
    background: white;
  }
  #navbar .nav-link {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #footer-container .event-details {
    font-size: 18px;
    text-align: center;
  }
  #footer-container .event-details a {
    font-size: 18px;
  }
  #footer-container p {
    font-size: 14px;
    text-align: center !important;
  }
}
/*# sourceMappingURL=style.css.map */