/****************** FONTS ****************************/
@font-face {
   font-family: "museosans-300";
   src: url("../fonts/museosansrounded-300-webfont.svg") format("svg");
   src: url("../fonts/museosansrounded-300-webfont.ttf") format("ttf");
   src: url("../fonts/museosansrounded-300-webfont.woff") format("woff");
}

@font-face {
   font-family: "museosans-500";
   src: url("../fonts/museosans-500.otf");
}

@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
   font-family: "OpenSans-SemiBold";
   src: url("../fonts/OpenSans-SemiBold.ttf");
}

/****************** VARIABLES ************************/
/*
1- main color : #61c0bd
2- white color: #ffffff
3- dark grey color: #565659
4- light grey color: #5a6175
*/
$primary: #61c0bd; // turqouise
$secondary: #565659; // dark-grey
$tertiary: #5a6175; // light-grey
$contrast1: white; 
$contrast2: black;

$overlay: rgba(0,0,0, 0.4);

$muse-300-font: "museosans-300", Georgia , serif;
$muse-500-font: "museosans-500", Arial , sans-serif;
$opensans-font: "OpenSans", Helvetica, Arial, sans-serif;
$opensans-semibold-font: "OpenSans-SemiBold", Arial, sans-serif;



/****************** CUSTOM RESET *********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

/****************** CUSTOM SETTINGS ******************/
html {
   background: $contrast1;
   overflow-x: hidden;
}

body {
   background-color: $contrast1;
   color: $tertiary;
   overflow-x: hidden;
}

p,ul, ol {
   margin-bottom: 0.5em
}

a {
   text-decoration: none;

   &:hover {
      text-decoration: none;
   }
}

sup {
   font-size: xx-small;
   vertical-align: super;
}

p a, h5 a {
 font-weight: bold;
 transition: all 0.2s ease-out;
}

h1,h2,h3,h4,h5 {
   line-height: 1.5;
   margin-bottom: 1.5em;
}

h1 {
   font-size: 28px;
   font-family: $muse-300-font;
}

h2 {
   font-size: 26px;
   font-family: $muse-300-font
}

h3 {
   font-size: 21px;
   font-family: $muse-300-font
}

h4 {
   font-size: 18px;
   font-family: $muse-300-font
}

h5 {
   font-size: 14px;
   font-weight: bold;
}

.btn-custom {
   color: $contrast1 !important;
   background-color: $primary;
   text-transform: uppercase;
   font-size: 18px;
   font-family: $muse-500-font;
   transition: 0.3s all ease-out;
   

   &:hover {
      box-shadow: 1px 3px 12px 0px darken($contrast1,30%);
      color: $contrast1 !important;
   }
}

/****************** NAVBAR ******************/
#navbar {

   padding: 15px 25px;
   border: none;
   background: $contrast1 !important;
   transition: padding-top 0.3s, padding-bottom 0.3s;

   .navbar-toggler {
      background: $primary;
      border: none;
   }

   .nav-link {
      color: $contrast2;
      border-radius: 3px;
      font-weight: 400;
      font-size: 14px;
      font-family: $muse-500-font;
      text-transform: uppercase;
      transition: all 0.3s ease-out;

      &.active, &:hover {
         background: $primary;
         color: $contrast1;
         transition: all 0.5s ease-out;
      }
   }

}

/****************** HEADER ******************/
#header {
   overflow-x: hidden;

   #header-container {
      margin-top: 70px;
      padding: 50px;
      background-image: url('/assets/img/header.png');
      background-color: $overlay;
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; // hide scrollbar for animate fadeInUp

      .text-container {
         //margin-top: 70px;
         

         h1,h4 {
            color: $contrast1;
            line-height: 1.5em;
         }

         h1 {
            font-size: 3em;
            font-family: $muse-300-font;
            text-transform: uppercase;
         }

         h4 {
            font-family: $opensans-font;
         }
         
      }
   } // end #header-container

   #footer-container {
      background-color: darken($contrast1, 5%);
      padding: 30px;
      border-bottom: 1px solid darken($contrast1, 10%);

      .event-details {
         font-family: $muse-300-font;
         font-size: 22px;
         color: $secondary;

         a {
            font-family: $opensans-font;
            font-size: 22px;
         }
      }

      p {
         color: $tertiary;
         font-family: $opensans-font;
         font-size: 18px;
      }
   } // end #footer-container
}

/****************** GET INVOLVED ******************/
#get-involved {
   padding: 50px 0;

   .container {
      h3 {
         font-family: $muse-500-font;
         font-size: 2.5em;
         //margin-bottom: 50px;
         text-transform: uppercase;
      }

      .row {
         .col-md-4 {

            margin-bottom: 70px;

            img {
               height: 150px;
               margin: 0 auto;
               //display: block;
               margin-bottom: 30px;
            }

            h4 {
               font-family: $muse-500-font;
               font-size: 1.5em;
            }

            p {
               font-family: $opensans-font;
               line-height: 1.5em;
            }
            a {
               margin-top: 10px;
               //margin-bottom: 10px;
            }
         }
      }
   }
}

/****************** MISSON ******************/
#mission {
   background-color: darken($contrast1, 5%);
   padding: 50px 0;
   border-top: 1px solid darken($contrast1, 10%);
   border-bottom: 1px solid darken($contrast1, 10%);

   .container {

      h3 {
         font-size: 2.5em;

      }

      h3, h4 {
         font-family: $muse-500-font;
      }

      h5 {
         font-family: $opensans-font;
      }

      .row {
         .col-md-4 {
            .card {
               border: none;
               border-radius: 5px;
               margin-top: 50px;
               
               .icon-container {

                  border-radius: 50%;
                  margin: 0 auto;
                  border: 8px solid $contrast1;
                  background: $primary;
                  margin-top: -45px;

                  img {
                     padding: 16px;
                     width: 75px;
                     height: 70px;
                  }
               }
   
               .card-body {
                  .card-title {
                     color: $primary;
                     margin-bottom: 15px;
                     font-family: $muse-300-font;
                     font-size: 1.5em;
                     text-transform: capitalize;
                  }
   
                  .card-text {
                     font-family: $muse-300-font;
                     font-size: 1.1em;
                  }
               }
            }
         }
      }
   }
}

/****************** MEMBERS ******************/
#members {
   padding: 50px 50px 0 50px;
   .container {
      h3 {
         font-family: $muse-500-font;
         margin-bottom: 50px;
      }

      #members-slider {
         img {
            height: 50px;
            width: 120px;
            margin: 0 auto;
            margin-bottom: 20px;

            &:hover {
               transform: scale(1.1);
               transition: all 0.5s ease-out;
            }
         }

         overflow-y: hidden;
      }

      // Color the carousel inidicators
      .owl-carousel .owl-dots.disabled {
         display: inline-block;
         margin-top: 50px;
      }

      .owl-theme .owl-dots .owl-dot.active span,
      .owl-theme .owl-dots .owl-dot:hover span { 
            background: $primary !important;
      }

      .owl-theme .owl-dots .owl-dot span {
         background: $secondary !important;
      }
   }
}

/****************** EVENT ******************/
#event {
   padding: 50px;
   font-family: $muse-500-font;
   
   .container {
      .row { 
         .col-md-4 {
            .card {
               a {
                  img {
                     //opacity: 0.7;

                     &:hover {
                        opacity: 0.7;
                        transition: all 0.7 ease-out;
                     }
                  }
               }
            }
         }
      }
   }
}

/****************** BLOG ******************/
#blog {
   padding: 0px 0px 50px 0px;

   h3{
      font-family: $muse-500-font;
      color: $tertiary;
      margin: 50px 0px;
   }

   #blog-slider {
      .item {
         a {

            h4 {
               font-family: $opensans-semibold-font;
               color: $primary;
               border-bottom: 1px solid darken($contrast1, 5%);
            }

            .main-p {
               font-family: $opensans-font;
               color: $secondary;
               line-height: 1.5;
               border-bottom: 1px solid darken($contrast1, 5%);
            }

            p {
               color: $primary;
            }
         }
      }
   }

   .owl-nav {
      display: inline-block;
      position: relative;
      left: 48%;
      margin-top: 20px;
   }

   .owl-prev {
      font-size: 30px;
      color: $primary;
      margin-right: 25px;
   }

   .owl-next {
      font-size: 30px;
      color: $primary;
   }
}

/****************** CONTACT ******************/
#contact {
   padding: 50px 0;

   label {
      margin-bottom: 10px;
      font-family: $opensans-font;
   }
}

/****************** CONTACT ******************/
footer {
   padding: 20px;
   background: $primary;

   .container-fluid {
      .social {
         margin-bottom: 10px;

         a{
            color: $contrast1;
            font-size: 15px;
            margin-left: 20px;
         }
      }

      .copyright {
         p {
            color: $contrast2;
            font-size: 20px;

            a {
               color: $contrast1;
               text-decoration: none;
            }
         }
      }
   }
}

/****************** MEDIA QUERY ******************/
@media (min-width: 300px) {

   #navbar {
      box-shadow: 0px 1px 7px $tertiary;

      &.navbar-shrink {
         padding: 5px 10px;
         background: $contrast1;
      }

      .nav-link {
         padding: 10px;
      }
   }
}

@media (max-width: 768px) {
   #footer-container { // Center #header #footer-container text for small screens

      .event-details {
         font-size: 18px;
        
         text-align: center;

         a {
            font-size: 18px;
         }
      }

      p {
         font-size: 14px;
         text-align: center !important;
      }
   } // end #footer-container
}